{% extends 'base.html' %}
{% load static %}

{% block content %}
<center>

    <div style="height: 500px; width: 500px;" class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" method="POST" name="admin_login">
                {% csrf_token %}
    
                <div class="form-outline mb-1">
                    <input name="oldpass" type="password" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">old password</label>
                </div>
                <div class="form-outline mb-1">
                    <input name="newpass1" type="password" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">new password</label>
                </div>
                <div class="form-outline mb-1">
                    <input name="newpass2" type="password" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">retype password</label>
                </div>
                
                
    
                <center>
    
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
                </center>
    
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
    </div>
</center>

    
    {% endblock content %}